body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  height: 100%;
  overflow: hidden;
}
#content {
  text-align: center;
  background: #1F5C99;
}
ul {
  display: inline;
  padding: 15px 4px 17px 0;
  list-style: none;
  margin: 0;
}
ul li {
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  margin-right: -4px;
  background: #1F5C99;
  width: 150px;
  font-size: 14px;
  font-weight: bolder;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
ul li:hover {
  background: #1F5C99;
}
ul li ul {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 48px;
  left: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}
ul li ul li {
  display: block;
}
ul li ul li:hover {}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.sub1 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub1:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.sub2 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub2:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.sub3 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub3:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.sub4 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub4:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.sub5 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub5:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.sub6 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub6:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.sub7 {
  background: #E6E6E6;
  display: inline-block;
  padding: 30px;
  color: gray;
  margin-right: 19px;
  margin-right: 0px;
}
.sub7:hover {
  border-bottom: 9px solid purple;
  color: black;
}
.text_in_sub_menu {
  font-weight: bolder;
  font-size: 16px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  padding-top: 5px;
}
.fa-cog {
  margin-right: 6px;
}
.btn {
  display: block;
  background: #800080;
  border: none;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 9px 13px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  margin-top: 6px;
  color: white;
}
.btn:hover {
  background: black;
  color: #800080;
}
.boxes {
  margin: auto;
  width: 1600px;
  height: 600px;
  text-align: center;
}
.headerbox {
  text-align: center;
  margin-bottom: 111px;
  margin-top: 70px;
  font-family: helvetica;
  font-size: 10px;
  font-weight: bolder;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  font-size: 13px;
  height: 17px;
  background: transparent;
  text-align: center;
}
.servername {
  width: 122px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  margin-bottom: 3px;
  border: none;
  padding: 6px;
}
